body {
    text-align: center;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.title {
    font-family: 'Russo One', sans-serif;
    /* margin: auto; */
    margin-bottom: 100px;
    margin-top: 200px;
    font-size: 3rem;
}

.keycode {
    font-family: 'Roboto', sans-serif;
    font-size: 11rem;
    margin-top: 200px;
    margin-bottom: 100px;
}

.key {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}